<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<footer class="bg-dark p-2 text-center">
    <div class="container">
        <p class="text-white">All Right Reserved @<span class="text-warning">FIND</span>TUTOR</p>
    </div>
</footer>