<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
    integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&display=swap" rel="stylesheet">
<div id="task-list">
    <div class="container p-0">
        <h1 class="display-4 text-center">Select from list of some common tasks</h1>
        <hr class="mb-5">
        <div class="row justify-content-center m-0">
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/water.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm thirsty</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/sleep.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm sleepy</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/food.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm hungry</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/tired.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm tired</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/confused.png" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm confused</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/happy.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm happy</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/angry.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm angry</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/hurt.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm hurt</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/scared.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I'm scared</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/play.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I want to play</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-xl-3">
                <div class="display-card">
                    <img src="./img/home.jfif" class="card-img">
                    <div class="card-body p-2 p-xl-3">
                        <p class="card-text text-center">I want to go home</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
